.coner_container {
  height: 100%;
  overflow: scroll;
}

.selectCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectCategory > p {
  margin: 5px;
}

.ranking__category > i {
  padding: 10px 10px;
}

.filterdCategory > button {
  margin-left: 5px;
}
